*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(41,22,14);
    color: #ccc;
}

a{
    text-decoration: none;
    color: #ccc;
}

ul{
    list-style: none;
}

/* nav start */
nav{
    position: fixed;
    width: 1%;
    min-width: 100px;
    padding: 80px 30px;
}

nav ul{
    font-size: 16px;
    line-height: 30px;
}

nav ul img{
    border-radius: 50%;
    border:2px solid #ddd;
    background-color: #ddd;
}

nav ul li{
    padding:10px;
    margin-top: 20px;
    border-bottom:2px solid #CCC;
    cursor: pointer;
}

nav ul li:active {
    background-color: #333;
}
/* nav end */

/* main start */
#main{
    margin-left: 170px;
    /*border-left: 1px solid rgb(51,32,24);*/
    background-color: rgba(255, 255, 255, 0.1);
}

main{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    padding:40px 40px;
    min-height: 900px;
}

main ul{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
}

main ul li{
    margin: 0 20px 30px;
    padding-left:20px;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 2px 5px 2px #999;
    background-color: #ddd;
    border-top-left-radius : 40px;
    border-bottom-right-radius : 40px;
}

main ul li a{
    display: block;
    color:rgb(41,22,14);
    padding:15px 5px;
}

main ul li span.family {
    font-size: 12px;
}
/* main end */

/* footer start */
footer{
    height: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}
/* footer end */

@media screen and (max-width: 720px) {
    #main{
        margin-left: 100px;
        /*border-left: 1px solid rgb(51,32,24);*/
        background-color: rgba(255, 255, 255, 0.1);
    }
    nav{
        position: fixed;
        min-width: 80px;
        padding: 80px 10px;
    }
    main{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        /* Firefox */
        -webkit-box-sizing: border-box;
        /* Safari */
        padding:40px 10px;
        min-height: 900px;
    }
    main ul{
        grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    }
}
